body {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    margin:0;
    
}

.sidebar {
    grid-row: auto;
    font-size: 25px;
    margin:0px;
    display:grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color:rgb(83, 200, 255);
    padding: 1rem;
    gap:25px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 3fr;
    
}

.header {
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 110px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
   
    
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: aliceblue;
    box-shadow: inset 0px 5px 5px #e2e8f0;
    padding: 10px 22px 10px 22px;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30px 5fr 45px  5fr;
   
}

.sidebar ul {

    list-style-type: none; 
    margin:0;
    padding:0;   
}

.sidebar li {
    gap: 15px;
    color:white;
    display:grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;    
}

.logo {
    display:grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 12px;
}

.sidebar img {
    width: 1em;
    justify-self: end;
}

.logo img {
    width: 1.2em;
}

.header-top {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    gap: 10px;
}
.header-top input {
    height:30px;
    flex-grow: 1;
    border-radius: 20px;
    border-style: none;
    background-color: antiquewhite;
    max-width: 80%;
    

}

#icon {
    width:30px;
}
.header-top img {
   
    max-width: 50px;
    height: 50px;
    border-radius: 40px;

}
.header-top-left {
    
    gap: 10px;
    display:flex;
    flex:3;
    align-items: center;
   
}

.header-top-right {

    display:flex;
    flex:1;
    gap: 40px;
    align-items: center;
   
}

.header-top-right p {
    font-size: 20px;
   
   
}


.header-bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}

.header-bottom-left {
    flex:1;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
  
    
    
}

.header-bottom-left img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 80px;
    border-radius: 50px;
    border: 4px solid rgb(0, 162, 255);
    justify-self: end;
    margin-right: 10px;
    align-self: center;
    margin-left: 10px;
}

#admin-name {
    font-weight:bolder;
    font-size: 1.5em;
    align-self: start;
    margin:0px;
    white-space: nowrap;
   
}

#greeting {
  font-weight:600;
  align-self: end;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.header-bottom-right {
    flex:1;
    display: flex;
    justify-content: space-around;
}

.header-bottom-right button {
    background-color: aqua;
    color:white;
    width: 140px;
    padding: 10px 30px;
    border-style: none;
    border-radius: 20px;
    font-size: 1.1em;
    margin:20px;
}

.main-your-projects-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display:flex;
    align-items: end;
    
}

#your-projects-title  {
  margin:5px;
 
}

.main-announcements-title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display:flex;
    align-items:end;
}

#announcement-title {
    margin:5px;
}

.main-project-container {
    grid-column: 1 / 3;
    grid-row: 2 / 11;
}

.announcements {
    grid-column: 3 / 4;
    display:grid;
}
.main-trending-title {
    grid-column: 3 / 4;
}
.main-trending-container {
    grid-column: 3 / 4;
}

.main-project-container article {
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0px 20px 0px 0px;
    
 
}

.article-container {
   
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.2);
    border-inline: solid rgb(0, 255, 0);
    border-style: none;
    border-left-style: solid;
    border-width: 11px;
    padding: 20px 20px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.announcements {
    background-color: white;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.2);
    padding:15px;
   
}

.trending-container {
    background-color: white;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.article-container > div:first-line {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.article-container button {
    border:none;
    background-color: transparent;
    width: 40px;
    
}

.article-container > div:nth-child(2) {
    display:flex;
    justify-content: end;
    gap:15px;
}
.announcements > div:nth-child(-n+2) {
    border-style: none;
    border-bottom: 1px solid black;
    
}

.announcement-container {
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.announcement-container:first-line {
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
}

.trending-container {
    display:flex;
    flex-direction: column;
    padding:10px;
    gap: 20px;
}

.trending-profile {
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;

}

.trending-profile img {
    width:60px;
    border-radius: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
}

.trending-profile > p:nth-child(-n+2){
    font-weight: bold;
    align-self: end;
    margin:0px;
}

.trending-profile p:last-child{
    font-size: 14px;
    align-self: top;
    margin-top: 0px;
}
